.authContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}

.authForm {
  background-color: #fff;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 2px 2px 10px -2px;

  .nav .nav-link {
    margin: 0 10px;

    &:hover {
      background: $skyblue;
    }

    &.active {
      background: $blue;
    }

    .nav-link {
      color: #fff;
    }
  }

  button {
    background: $blue;
    margin-top: 12px;
  }

  footer {
    .logo {
      color: $blue;
      font-weight: bold;
    }

    text-align: right;

    a {
      text-decoration: none !important;
    }

    a > * {
      color: darkgrey;
    }

    a:hover * {
      color: $blue !important;
    }
  }
}
