$primary: #0052cc; //editing bootstrap primary color
$blue: #0052cc;
$darkblue: #074095;
$deepdarkblue: #172b4d;
$skyblue: #eaf1fc;
$lightgrey: rgba(244, 245, 247);
$grey: #d6dae2;
$darkgrey: #383c42;
$bluegrey: #667792;
$red: rgb(163, 23, 23);
