#Dashboard {
  background: white;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;

  div.row:nth-of-type(1) {
    height: 10vh;
  }

  div.row:nth-of-type(2) {
    height: 90vh;
  }
}

#Sidebar {
  padding: 2em !important;
  border-right: 2px solid $lightgrey;
  background: $lightgrey;
}

#BoardDisplay {
  display: flex;
  padding: 2em !important;
  height: 100%;
  padding-right: 15px;
  overflow: scroll;

  div.boardColumn {
    padding: 2px;
    div {
      background: $lightgrey;
      border-radius: 5px;
      min-height: 100px;
    }
  }

  div.boardColumn:last-of-type div {
    background: none;
    border: 3px dotted grey;

    &:hover {
      background: $lightgrey;
      cursor: pointer;
      border: 3px dotted $lightgrey;
    }
  }
}

#CreateBoard {
  width: 45%;

  h2,
  h3,
  h4 {
    margin-bottom: 35px;
  }

  input {
    background-color: $lightgrey;

    &:active,
    &:focus {
      background-color: #fff;
    }
  }

  .searchbar {
    max-width: 200px;
    font-size: 14px;

    .searchSuggestions {
      min-width: 200px;
    }
  }

  .list-group {
    margin-top: 15px;

    .list-group-item {
      min-height: 56px;
    }

    div.list-group-item {
      &:first-child {
        font-size: 12px;
        font-weight: 600;
        p {
          font-weight: 300;
          margin-bottom: 0;
        }
      }
    }

    button.list-group-item {
      span {
        pointer-events: none;
        font-size: 10px;
        font-style: italic;
        display: none;
        color: #842029;
      }

      &:hover {
        background-color: #f8d7da;
        span {
          display: block;
        }
      }

      &.addButton {
        &:hover,
        &:focus {
          background-color: $skyblue;
        }
      }
    }
  }

  .addColumn {
    button {
      background: $blue;
      color: #fff;
      &:hover,
      &:focus {
        background-color: $skyblue;
      }
    }
  }
}
