#Dashboard {
  background: white;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;

  div.row:nth-of-type(1) {
    height: 10vh;
  }

  div.row:nth-of-type(2) {
    height: 90vh;
  }
}

#Sidebar {
  padding: 2em !important;
  border-right: 2px solid $lightgrey;
  background: $lightgrey;
}

#BoardDisplay {
  display: flex;
  padding: 2em !important;
  height: 100%;
  padding-right: 15px;
  overflow: scroll;

  #boardHeader {
    h3 {
      padding: 0;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      padding: 0;

      .deleteBoard {
        max-width: 110px;
        background: none;
        color: #842029;
        border: none;
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;

        &:hover {
          color: red;
        }
      }
    }

    padding-bottom: 120px;
  }

  div.boardColumn {
    padding: 2px;

    h6 {
      text-transform: uppercase;
      font-size: 12px;
    }

    a {
      padding: 10px;
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      background-color: $lightgrey;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 0 0 5px 5px;

      &:hover {
        color: $blue;
      }
    }

    .isDraggingOver + a {
      background: #d6dae2;
    }

    div.container {
      padding: 25px 5px;
      background-color: $lightgrey;
      border-radius: 5px 5px 0 0;
      min-height: 100px;

      &.isDraggingOver {
        background: #d6dae2;
      }

      div.boardCard {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        margin-bottom: 5px;
        border-radius: 4px;
        background-color: #fff;
        color: $deepdarkblue !important;

        &:last-of-type {
          margin-bottom: 30px;
        }

        &.isDragging {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          background-color: $skyblue;
        }

        h6 {
          font-size: 14px;
          text-transform: none;
          color: $deepdarkblue !important;
        }

        div i {
          margin-right: 10px;
          display: none;
          cursor: pointer;
          color: #818794;

          &.fa-pencil:hover {
            color: $blue;
          }

          &.fa-trash:hover {
            color: #842029;
          }
        }

        &:hover div i {
          display: inline;
        }
      }
    }
  }

  .addColumn {
    width: 100%;
    border-radius: 5px;
    min-height: 100px;
    color: $deepdarkblue;
    background-color: $lightgrey;
    border: none;

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

  button {
    background-color: $blue;

    &:hover {
      background-color: $skyblue;
      color: $blue;
    }
  }
}

#popover-basic {
  font-size: 10px;
  .popover-body {
    padding: 10px;
  }
  button {
    font-size: 10px;
  }
}

#CreateBoard {
  width: 45%;

  h2,
  h3,
  h4 {
    margin-bottom: 35px;
  }

  input {
    background-color: $lightgrey;

    &:active,
    &:focus {
      background-color: #fff;
    }
  }

  .searchbar {
    max-width: 200px;
    font-size: 14px;

    .searchSuggestions {
      min-width: 200px;
    }
  }

  .list-group {
    margin-top: 15px;

    .list-group-item {
      min-height: 56px;
    }

    div.list-group-item {
      &:first-child {
        font-size: 12px;
        font-weight: 600;
        p {
          font-weight: 300;
          margin-bottom: 0;
        }
      }
    }

    button.list-group-item {
      background-color: #fff;
      span {
        pointer-events: none;
        font-size: 10px;
        font-style: italic;
        display: none;
        color: #842029;
      }

      &:hover {
        color: #000;
        background-color: #f8d7da;
        span {
          display: block;
        }
      }
    }
  }
  .addButton {
    color: #fff;
    &:hover,
    &:focus {
      background-color: $skyblue;
    }
  }
}
