@import './colors.scss';

body {
  background: linear-gradient(4deg, #0abaff 0%, #0c2c8c 100%);
  font-family: 'Segoe UI', sans-serif !important;
}

#Loading {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  * {
    vertical-align: center;
  }
}

@import './navbar.scss';
@import './auth.scss';
@import './dashboard.scss';
