#Navbar {
  z-index: 1;
  border-bottom: 2px solid lightgrey;
  margin: 0;
  padding: 0 40px 0 20px;
  height: 11vh;

  .navContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
  }

  .avatarBox {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: #fff;
    color: #000;

    &:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 3px 1px;
      background: $lightgrey;
    }

    div {
      display: inline-block;
      margin-right: 10px;
    }

    .avatar {
      border: $lightgrey solid 5px;
      box-sizing: content-box;
      border-radius: 40px;
      height: 30px;
      width: 30px;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      background-color: $blue;
    }

    .fas {
      font-size: 10px;
      color: $darkgrey;
    }
  }

  .dropdown .dropdown-menu {
    border-radius: 5px;
    padding: 0;
    .dropdown-item {
      border-radius: 5px;
      padding: 0;

      .nav-link i {
        margin-right: 10px;
      }
    }
  }
}
